<div class="custom-container margin">
  <b>
    <p>Perent Componet</p>
  </b>
  {{test}}
  
  <button class="btn" (click)="onSendChild()">Send To Child Componet</button>
</div>

 <br>
<div class="custom-container">
    <!-- <app-child  [childData]="parentData" (childEvent)="onChildEvent($event)" ></app-child> -->
    <app-child  [childData]="parentData" *ngIf="toogle"  [arrylist]="myArry"></app-child>

<br>
<button class="btn" (click)="addValue()">Add value</button>
</div>

<button (click)="loadunload()" class="btn" > Child Componet /load && Unload</button>